@import "../../styles/variables";

kendo-dateinput {
  width: $dateinput-width;
  margin-right: $margin-m;
}

.time-interval {
  margin: 0 5px;
}

.list-item {
  &.time-filter-item {
    cursor: pointer;

    &.active {
      font-weight: bold;
      color: black;
      border-bottom: 3px solid $active-state-base;
    }
  }
}

.chart-category {
  &.selected {
    font-weight: bold;
  }

  img {
    margin-right: $margin-m;
  }
}

.interval {
  margin-left: 100px;
}

.chart-type {
  margin-left: 500px;
}
