mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}



.image-preview {
  height: 70px;
}

.image-preview img {
  height: 100%;
}
